* {
    box-sizing: border-box;
}

h2 {
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}


body {
    background: url(../images/star_wars_logo_new_tall.0.jpg) fixed center;
    background-size: 1200px 100%;
    color: white;
    margin-right: 80px;
}

button {
    color: black;
}
.wrapper {
    display: inline;
    clear: both;
}

#yourCharacter {
    clear: both;
}

#enemiesAvailable {
    clear: both;
}

#fightSection {
    clear: both;
}

#attackMessage {
    clear: both;
    font-style: italic;
    font-weight: bold;
}

img {
    height: 112px;
    width: 160px;
}


.whiteArea {
    color: black;
    height: 155px;
    width: 200px;
    text-align: center;
    line-height: 0.1;;
    float: left;
    padding: 0;
    border-style: solid;
    border-width: 3px;
    border-color: greenyellow;
    background: #fff;
}

.redArea {
    color: black;
    height: 155px;
    width: 200px;
    text-align: center;
    line-height: 0.1;;
    float: left;
    padding: 0;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background: red;

}

.blackArea {
    color: white;
    height: 155px;
    width: 200px;
    text-align: center;
    line-height: 0.1;;
    float: left;
    padding: 0;
    border-style: solid;
    border-width: 3px;
    border-color: greenyellow;
    background: black;
}




